
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Pagina no encontrada!</p>
            <p class="lead">
                La pagina que buscas no Existe.
              </p>
            <!-- <a href="index.html" class="btn btn-primary">Go Home</a> -->
            <a  [routerLink]="['/dashboard/dashboard']" class="btn btn-primary">Index</a>
        </div>
    </div>
</body>

