<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Productos</h3> <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarProducto">
              <i class="fas fa-user-plus"></i> Agregar
            </button>
          </div>

          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Categoria</th>
                  <th>nombre</th>
                  <th>imagen</th>
                  <th>stock</th>
                  <th>precio_compra</th>
                  <th>precio_venta</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>


      
                <tr *ngFor="let producto of productos; let i= index;">
                  <td>{{producto.id}}</td>
                  <td>{{producto.categoria}}</td>
                  <td>{{producto.nombre}}</td>
                  <td><img class="" width="50"  src="http://localhost:3000/{{producto.imagen}}"></td>
                  <td>{{producto.stock}}</td>
                  <td>{{producto.precio_compra}}</td>
                  <td>{{producto.precio_venta}}</td>
                  <!-- <td><button class="btn btn-primary btn-xs" (click)="cambiarPass(producto.id)"><i class="fas fa-key"></i> Cambio Password </button></td>
                  <td>{{producto.nombre}}</td> -->
                  <td><button class="btn btn-warning btn-xs mr-2" (click)="llenarForm(producto.id)"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-danger btn-xs" (click)="eliminarProducto(producto.id)"><i class="fas fa-trash-alt"></i></button>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

       <!-- Modal agregar Producto -->
       <div class="modal fade" id="agregarProducto">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Agregar Productos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="crearProducto()" [formGroup]="productoForm" autocomplete="off">
                <div class="form-group mb-3">
                  <select class="form-control" formControlName="id_categoria" >
                    <option value="" selected>Seleccione la categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
                  </select>            
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3" hidden="hidden">
                  <!-- <input type="text" class="form-control" placeholder="Nombre imagen" formControlName="imagen" > -->
                  <span hidden="hidden">{{productoForm.get('imagen').value}}</span>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Stock" formControlName="stock">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Precio compra" formControlName="precio_compra">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Precio venta" formControlName="precio_venta">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
             
                <div class="input-group mb-3">
                  <label>Elegir Imagen</label>
                  <input type="file" class="form-control-file"   accept="image/*" (change)="selectImage($event)">
                  <!-- <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div> -->
                </div>

                <div class="input-group mb-3">
                  <div class="card">
                    <img class="card-img-top" [src]="imgURL">
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <div class="col text-danger">
                      <p *ngIf="campoNoValido('nombre')"> El Nombre es Obligatorio</p>
                      <p *ngIf="campoNoValido('id_categoria')">Debe Seleccionar una Categoria</p> 
                      <p *ngIf="campoNoValido('stock')"> El Stock es Obligatorio</p>
                      <p *ngIf="campoNoValido('precio_compra')"> El Precio de Compra es Obligatorio </p>
                      <p *ngIf="campoNoValido('precio_venta')"> El Precio de Venta es Obligatorio </p>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

       <!-- llenar editar Producto -->
       <div class="modal fade" id="editarProducto">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Editar Producto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="editarProducto()" [formGroup]="productoForm" autocomplete="off">
                <div class="form-group mb-3">
                  <select class="form-control" formControlName="id_categoria" >
                    <option value="" selected>Seleccione la categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
                  </select>            
                </div>


                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3" hidden="hidden">
                  <span hidden="hidden">{{productoForm.get('imagen').value}}</span>
                  <!-- <input type="text" class="form-control" placeholder="imagen" formControlName="imagen"> -->
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Stock" formControlName="stock">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Precio Compra" formControlName="precio_compra">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Precio Venta" formControlName="precio_venta">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <label>Elegir Imagen</label>
                  
                  <input type="file" class="form-control-file" #file_editar  accept="image/*" (change)="selectImageEditar($event)">
                  <!-- <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                    </div>
                  </div> -->
                </div>

                <div class="input-group mb-3">
                  <div class="card">
                    <img class="card-img-top" #img_editar src="{{imgURL_editar}}" (load)="loadimage($event)" >
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <div class="col text-danger">
                      <!-- <p *ngIf="campoNoValido('nombre')"> El Nombre es obligatorio</p>
                      <p *ngIf="campoNoValido('descripcion')">La Descripcion es obligatoria</p> -->
                     </div>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" (click)="limpiar_imagen()">Limpiar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>

     