<div class="card">
  <div class="card-header">
    <h3 class="card-title">Stock</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="card-body">
    Start creating your amazing application!
  </div>

  <div class="container">
    <h1>Tabs</h1>
    <!-- TABS CONTAINER -->
    <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
      <!-- TAB1 -->
      <a
        class="w-100 nav-item nav-link"
        [routerLink]="['/dashboard/usuarios']" 
        routerLinkActive="active"
        style="flex: 1"
      >
        Landing
      </a>
      <!-- TAB2 -->
      <a
        class="w-100 nav-item nav-link"
        [routerLink]="['/dashboard/extensiones']" 
        routerLinkActive="active"
        style="flex: 1"
      >
        Page1
      </a>
      <!-- TAB3 -->
      <a
        class="w-100 nav-item nav-link"
        routerLink="/page-2"
        routerLinkActive="active"
        style="flex: 1"
      >
        Page2
      </a>
    </div>
 <!-- Router outlet -->
 <router-outlet></router-outlet>
 
</div>  
  


  <!-- /.card-body -->
  <div class="card-footer">
    Footer
  </div>
  <!-- /.card-footer-->
</div>