<div><canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas></div>


<div class="card">
  <div class="card-header">
    <h3 class="card-title">Dashboard</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="card-body">
    Start creating your amazing application!
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-white bg-primary ml-5   mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">Usuarios</div>
          <div class="card-body bg-light">
            <h1 class="card-text text-center">16</h1>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card text-white bg-primary ml-5   mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">Usuarios</div>
          <div class="card-body bg-light">
            <h1 class="card-text text-center">16</h1>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card text-white bg-primary ml-5   mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">Usuarios</div>
          <div class="card-body bg-light">
            <h1 class="card-text text-center">16</h1>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card text-white bg-primary ml-5   mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">Usuarios</div>
          <div class="card-body bg-light">
            <h1 class="card-text text-center">16</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.card-body -->
  <div class="card-footer">
    Footer
  </div>
  <!-- /.card-footer-->

</div>